* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: #EC715F;
  align-items: center;
}

.header-inner {
  width: 1024px;
  display: flex;
  align-items: center;
}

.logo img {
  width:160px;
}

nav {
  margin-left: auto;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 16px;
  margin-left: 60px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  padding-top: 200px;
  color: #FAFAFA;
  font-size: 64px;
  font-weight: bold;
}

.main-visual-text {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
  margin-top: 10px;
}

.background-color {
  background-color: #ECEFF1;
}

.profile-background-color {
  background-color: #ECEFF1;
}

.title {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 0;
}

.title::before{
  border-bottom: 3px solid #EC715F;
  position: absolute;
  bottom: 0;
  content: '';
  width: 70px;
}

.text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.flex-container {
  width: 920px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item img {
  width: 280px;
  height: 230px;
  margin-bottom: 5px;
  margin-right: 10px;
  object-fit: cover;
}

.strength {
  width: 980px;
  display: flex;
  margin: auto;
  text-align: center;
  margin-bottom: 90px;
}

.strength i {
  font-size: 60px;
}

.strength1 {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.strength-title p {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}


.strength-text {
  display: inline-block;
  text-align: left;
}

.strength2 {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.strength3 {
  width: 320px;
  height: auto;
}

.profile {
  width: 1024px;
  display: flex;
  margin: auto;
}

.icon {
  width: 512px;
  text-align: center;
}

.profile img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.introduction {
  width: 512px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.myname-text {
  text-align: left;
  margin-bottom: 20px;
}

.contact {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.address {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}

.address a {
  color: black;
}

.mail {
  margin-bottom: 20px;
}

.sns {
  width: 400px;
}

.sns-icon i {
  font-size: 50px;
}

.sns-icon i:not(:last-child) {
  margin-right: 20px;
}

.contact2 {
  margin-left: 200px;
  display: flex;
  justify-content: center;
}

footer {
  width: 100%;
  height: 60px;
  color: white;
  background-color: #EC715F;
  padding-top: 20px;
  text-align: center;
}

@media screen and (max-width:767px) {

  body {
    max-width: 90%;
  }

  header {
    height: 50px;
    display: block;
  }

  .header-inner {
    width: 90%;
    padding: 0 5%;
  }

  .logo img {
    height: 50px;
  }

  .nav-list-item {
    display:none;
  }

  .hamburger-menu {
    width: 40px;
    height: 40px;
    float: right;
    border: 1px solid #fafafa;
    margin: 5px auto;
  }

  .menu-line {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #fafafa;
    margin: 5px auto;
  }
  .menu-line:first-child {
    margin-top: 10px;
  }

  .main-visual-content {
    width: 90%;
  }

  .main-visual {
    background-image: url(img/code.png);
    background-size: cover;
    background-position: center;
  }
}