* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  background-color: #EC715F;
  align-items: center;
}

.header-inner {
  width: 1024px;
  display: flex;
  align-items: center;
}

.logo img {
  width:160px;
}

nav {
  margin-left: auto;
}

li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #FAFAFA;
  font-size: 16px;
  margin-left: 60px;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url(img/mv.png);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  text-align: center;
  padding-top: 200px;
  color: #FAFAFA;
  font-size: 64px;
  font-weight: bold;
}

.main-visual-text {
  font-size: 20px;
  color: #FAFAFA;
  text-align: center;
  margin-top: 10px;
}

.portfolio {
  background-color: #ECEFF1;
}

.portfolio-title {
  width: 920px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 8px;
  font-size: 32px;
  font-weight: bold;
  position: relative;
  top: 0;
  left: 0;
}

.portfolio-title::before{
  border-bottom: 3px solid #EC715F;
  position: absolute;
  bottom: 0;
  content: '';
  width: 70px;
}

.portfolio-text {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.flex-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flex-item img {
  width: 300px;
  height: 250px;
  margin-left: 10px;
  margin-bottom: 10px;
}